.App {
  background-color: #2ecc71;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.teams,
.scores,
.yellowCards,
.redCards,
.goalButtons,
.yellowCardButtons,
.redCardButtons,
.resetButton {
  display: flex;
}
